* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

#header, #footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

#header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
}

#header-links a, .hero-text p, .sing-up {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.hero {
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    padding: 60px 10vw;
    align-items: center;
    height: 30vw;
    gap: 30px;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero .placeholder, .hero-text {
    height: 300px;
}

.hero img {
    height: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero .sign-up {
    background-color: #3882F6;
    padding: 5px 20px;
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
}

.placeholder > p {
    font-size: small;
}